venv/
__pycache__/
*.tsv
*.csv
!model_versions_summary.csv
.ipynb_checkpoints/

# Игнорираме данни (.txt генни файлове от cBioPortal), но НЕ requirements.txt
data/*.txt

# Лог файлове и node_modules
*.log
ui/frontend/node_modules/
